{% extends 'layout.html' %}

{% block head %}
    <style>
        .title {
            text-align: center;
            font-size: 6rem;
            font-weight: bold;
            color: #1E436A;
            text-shadow: 2px 2px #87CEFA;
            margin-top: 100px;
        }
        h1 {
            text-align: center;
            font-size: 3rem;
            margin-top: 50px;
        }
        p {
            text-align: center;
            font-size: 1.5rem;
            margin-top: 50px;
        }
        .container {
            text-align: center;
        }
    </style>
    <title>Humans cause their endangerment, but they can also build their recovery</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Humans cause their endangerment, but they can also build their recovery</h1>
        <p class="lead">Human activities have caused significant damage to the environment, resulting in the endangerment and extinction of many species. However, humans can also play a critical role in reversing these trends and helping to recover endangered species populations, through engineering solutions.</p>
        <p>By implementing effective conservation strategies and using innovative technologies, humans can help protect and restore endangered species habitats, reduce the impact of human activities on the environment, and promote sustainable practices that benefit both humans and wildlife.</p>
    </div>
{% endblock %}

