{% extends 'layout.html' %}

{% block head%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block body%}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Horse Conservation</h2>
                <p>Horse conservation is the protection of wild horse populations and their habitats, as well as the preservation of domestic horse breeds that are at risk of becoming extinct. Horses have played an important role in human history, serving as transportation and work animals, as well as companions and sources of recreation. However, many wild horse populations have been threatened by habitat loss, overgrazing, and competition for resources with livestock and other wildlife.</p>

                <h3>Key Facts</h3>
                <ul>
                    <li>The most well-known wild horse population in the United States is the mustang, which is found primarily in the Western states.</li>
                    <li>According to the Bureau of Land Management (BLM), there are currently around 95,000 wild horses and burros on public lands in the United States.</li>
                    <li>In addition to wild horse populations, there are also domestic horse breeds that are considered endangered or threatened.</li>
                    <li>Horse conservation efforts typically involve a combination of habitat protection, population monitoring, and population management strategies such as contraception or relocation.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Elephant Conservation</h2>
                <p>Elephant conservation refers to efforts to protect wild elephant populations and their habitats, as well as captive elephants that are at risk of exploitation or mistreatment. Elephants are one of the most iconic and beloved animals in the world, and they play an important role in the ecosystems where they live. However, many wild elephant populations are threatened by habitat loss, poaching, and human-elephant conflict.</p>

                <h3>Key Facts</h3>
                <ul>
                    <li>There are two main species of elephants: the African elephant and the Asian elephant.</li>
                    <li>According to the International Union for Conservation of Nature (IUCN), both species of elephants are classified as "vulnerable" due to population declines in recent decades.</li>
                    <li>Elephant conservation efforts typically involve a combination of habitat protection, anti-poaching measures, and community outreach programs to reduce human-elephant conflict.</li>
                    <li>One major threat to elephant populations is the loss of their natural habitats due to deforestation, agriculture, and urbanization.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
